/*************************************************************************************************************/
/**Fonte**/
@font-face {
  font-family: "MieSpecial-Regular";
  src: url(/fonte/wetransfer_mie-regular-ttf_2023-05-12_1245/MieSpecial-Regular.ttf);
}

@font-face {
  font-family: "GT-Haptik-Regular";
  src: url(/fonte/font-GT_Haptik/GT-Haptik-Regular.otf);
}

@font-face {
  font-family: "GT-Haptik-Bold-Oblique";
  src: url(/fonte/font-GT_Haptik/GT-Haptik-Bold-Oblique.otf);
}
@font-face {
  font-family: "GT-Haptik-Bold";
  src: url(/fonte/font-GT_Haptik/GT-Haptik-Bold.otf);
}
/*************************************************************************************************************/

.logo {
  width: 12%;
  height: auto;
  position: relative;
  top: 3%;
  left: 2%;
}
/* hero-image */
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background-image: linear-gradient(#00000080, #00000080), url("/img/frivillig1.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero-text {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f8f2b1;
  font-family: MieSpecial-Regular, sans-serif;
}

.hero-text h1 {
  font-size: 36px;
  margin: 0 7px;
  padding: 0;
}

.img_hero-text {
  width: 57%;
  height: auto;
  aspect-ratio: 1272/521;
  position: relative;
  top: -1px;
}
/*************************************************************************************************************/
.del_1 {
  margin-top: 220px;
  margin-bottom: 70px;
}
/*************************************************************************************************************/
.overskrift_1 {
  font-size: 15px;
  font-family: GT-Haptik-Bold, sans-serif;
  margin: 20px;
}
h3 {
  font-size: 15px;
  margin: 20px;
  font-family: GT-Haptik-Bold-Oblique, sans-serif;
}
.underrubrik {
  font-size: 15px;
  margin: 20px;
  font-family: GT-Haptik, sans-serif;
  line-height: 1.5;
}
details {
  font-size: 15px;
  margin: 20px;
  font-family: GT-Haptik-Bold-Oblique, sans-serif;
}
/**Knap**/
.knap {
  padding: 10px;
  text-align: center;
  border-style: solid;
  margin: 25px;
}
.knap1 {
  font-size: 20px;
  color: #1c1f40;
  font-family: GT-Haptik-Bold, sans-serif;
}
/*************************************************************************************************************/
.img_opdeler {
  width: 100%;
  margin-bottom: 20px;
}
/*************************************************************************************************************/
.overskrift_2 {
  font-size: 20px;
  font-family: MieSpecial-Regular, sans-serif;
  margin: 20px;
}
p {
  font-size: 15px;
  margin: 20px;
  font-family: GT-Haptik, sans-serif;
  line-height: 1.5;
}
/*************************************************************************************************************/
.overskrift_3 {
  font-size: 20px;
  font-family: MieSpecial-Regular, sans-serif;
  margin: 20px;
}
@media only screen and (min-width: 800px) {
  .logo {
    width: 7%;
    height: auto;
    position: relative;
    left: 45%;
    top: 10px;
  }
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(#00000080, #00000080), url("/img/frivillig1.jpg");
    background-size: cover;
    background-position: center;
  }

  .hero-text {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #f8f2b1;
    font-family: MieSpecial-Regular, sans-serif;
  }

  .hero-text h1 {
    font-size: 140px;
    margin: 0 7px;
    padding: 0;
    text-align: start;
    position: relative;
    left: 10%;
  }

  .img_hero-text {
    width: 57%;
    height: auto;
    aspect-ratio: 1272/521;
    position: relative;
    top: -1px;
    left: 10%;
  }
  /*************************************************************************************************************/
  .del_1 {
    margin-top: 500px;
    margin-bottom: 70px;
  }
  /*************************************************************************************************************/
  .overskrift_1 {
    font-size: 25px;
    font-family: GT-Haptik-Bold, sans-serif;
    margin: 20px;
  }
  h3 {
    font-size: 20px;
    margin: 20px;
    font-family: GT-Haptik-Bold-Oblique, sans-serif;
  }
  .underrubrik {
    font-size: 20px;
    margin: 20px;
    font-family: GT-Haptik, sans-serif;
    line-height: 1.5;
  }
  details {
    font-size: 20px;
    margin: 20px;
    font-family: GT-Haptik-Bold-Oblique, sans-serif;
  }
  /**Knap**/
  .knap {
    padding: 20px;
    text-align: center;
    border-style: solid;
    margin: 25px;
    margin-left: 500px;
    margin-right: 500px;
  }
  .knap1 {
    font-size: 20px;
    color: #1c1f40;
    font-family: GT-Haptik-Bold, sans-serif;
  }
  /*************************************************************************************************************/
  .overskrift_2 {
    font-size: 30px;
    font-family: MieSpecial-Regular, sans-serif;
    margin: 20px;
  }
  p {
    font-size: 20px;
    margin: 20px;
    font-family: GT-Haptik, sans-serif;
    line-height: 1.5;
  }
  /*************************************************************************************************************/
  .overskrift_3 {
    font-size: 30px;
    font-family: MieSpecial-Regular, sans-serif;
    margin: 20px;
  }
}
