* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "MieSpecial-Regular";
  src: url(/fonte/wetransfer_mie-regular-ttf_2023-05-12_1245/MieSpecial-Regular.ttf);
}

@font-face {
  font-family: "GT-Haptik-Regular";
  src: url(/fonte/font-GT_Haptik/GT-Haptik-Regular.otf);
}
h1 {
  font-family: "GT-Haptik-Regular";
  text-align: center;
  margin-top: 10%;
  font-size: 2rem;
}
.sund {
  margin-top: 10%;
}
.overskrif {
  margin-top: 30%;
  margin-bottom: 10%;
}
h2 {
  font-family: "GT-Haptik-Regular";
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 2rem;
  color: #1d1f3c;
}
h3 {
  font-family: "GT-Haptik-Regular";
  text-align: center;
  color: #1d1f3c;

  font-size: 1.5rem;
}
p {
  margin-bottom: 10px;
  line-height: 1.5;
  font-family: "GT-Haptik-Regular";
  padding: 4%;
  margin-top: 6%;
  margin-bottom: 6%;
}
.blivvv {
  display: inline-block;
  padding: 10px 20px;
  background-color: #107a3e;
  color: #ffffff;
  font-size: 25px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 20%;

  margin-top: 10%;
  margin-bottom: 5%;
}

.blivv {
  display: inline-block;
  padding: 5px 10px;
  background-color: #107a3e;

  font-size: 30px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: -1%;
  margin-bottom: 20%;
  margin-top: -20%;
}
.blivv:hover {
  background-color: #094423;
}
.blivvv:hover {
  background-color: #094423;
}

/********************img************/
img {
  width: 100%;
  height: auto;
  display: block;
}
.bileder1 {
  width: 90%;
  border-radius: 25px;
  margin-inline: auto;
}
.bileder2 {
  width: 90%;
  border-radius: 25px;
  margin-inline: auto;
}
.cownt {
  width: 100%;
  height: 40vh;
  background-image: url("/img/cowntdown.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.forsideslutbiled {
  width: 100%;
  height: 50vh;
  background-image: url("/img/forside3.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 10%;
  background-attachment: fixed;
}

.kunstner {
  width: 70%;
  margin-inline: auto;
}
.kkk {
  margin-bottom: 5%;
  margin-top: 5%;
}
/********************/
.fugur3 {
  width: 40%;
  top: 301%;
  left: 60%;
  z-index: -1;
  position: absolute;
}
.fugur2 {
  width: 40%;
  top: 418%;
  left: 7%;
  z-index: -1;
  position: absolute;
}
.fugur4 {
  width: 29%;
  top: 227%;
  left: -5%;
  z-index: -1;
  position: absolute;
}

/****************************/
.logo {
  width: 130px;
  height: 130px;
  z-index: 5;
  margin-inline: auto;
  margin-bottom: 2rem;
  margin-top: 6%;
}
/***************************runner************************/

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 40px;
  overflow-x: hidden;
  background-color: #f8f2b1;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 14.5%;
  font-family: "MieSpecial-Regular";
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite;
  margin-top: 1%;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/*************************video*******************/
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/*********************cunt down**************/

/* general styling */
:root {
  --smaller: 0.75;
}

.container {
  color: #f8f2b1;
  margin: 0 auto;
  text-align: center;
  font-family: "GT-Haptik-Regular";
  margin-top: -69%;
}

.h1count {
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
#headline {
  font-family: "GT-Haptik-Regular";
  font-size: 160%;
}

.lii {
  display: inline-block;
  font-size: 1;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}
.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 64%;
  height: auto;
  position: relative;
  margin-top: 11%;
  margin-left: 18%;
}

.si {
  padding: 10%;
}

@media all and (max-width: 768px) {
  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}
/****************footer****************/

/*****************************website*********************/
@media only screen and (min-width: 800px) {
  .logo {
    width: 450px;
    height: 450px;
    z-index: 5;
    margin-inline: auto;

    margin-top: 6%;
  }
  .marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 70px;
    overflow-x: hidden;
    background-color: #f8f2b1;
    color: black;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 19%;
    font-family: "MieSpecial-Regular";
  }

  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 30s linear infinite;
    margin-top: 0.7%;
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  h1 {
    font-family: "GT-Haptik-Regular";
    text-align: center;
    margin-top: 10%;
    font-size: 4rem;
  }
  .kunstner {
    width: 70%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .kkk {
    margin-bottom: 20%;
    margin-top: 20%;
    padding: 10%;
  }
  .cownt {
    width: 100%;
    height: 90vh;
    background-image: url("/img/cowntdown.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .forsideslutbiled {
    width: 100%;
    height: 80vh;
    background-image: url("/img/forside3.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 10%;
    background-attachment: fixed;
  }
  :root {
    --smaller: 0.75;
  }

  .container {
    color: #f8f2b1;
    margin: 0 auto;
    text-align: center;
    font-family: "GT-Haptik-Regular";
    margin-top: -42%;
  }

  .h1count {
    font-weight: normal;
    letter-spacing: 1.1rem;
    text-transform: uppercase;
  }
  #headline {
    font-family: "GT-Haptik-Regular";
    font-size: 350%;
  }

  .lii {
    display: inline-block;
    font-size: 1;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }

  li span {
    display: block;
    font-size: 4.5rem;
  }
  .bileder1 {
    width: 60%;
    border-radius: 25px;
    margin-inline: auto;
    margin-top: 10%;
  }
  .bileder2 {
    width: 60%;
    border-radius: 25px;
    margin-inline: auto;
    margin-top: -50%;
  }
  .underbileder {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .overskrif {
    margin-top: 26%;
    margin-bottom: 4%;
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: "GT-Haptik-Regular";
    padding: 4%;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 10%;
    margin-right: 20%;
  }
  .fugur4 {
    width: 8%;
    top: 208%;
    left: 37%;
    z-index: -1;
    position: absolute;
  }
  .fugur3 {
    width: 20%;
    top: 358%;
    left: 30%;
    z-index: -1;
    position: absolute;
  }
  .fugur2 {
    width: 20%;
    top: 440%;
    left: 7%;
    z-index: -1;
    position: absolute;
  }
  .blivvv {
    display: inline-block;
    padding: 10px 20px;
    background-color: #107a3e;
    color: #ffffff;
    font-size: 50px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .blivv {
    display: inline-block;
    padding: 5px 10px;
    background-color: #107a3e;

    font-size: 30px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 120%;
    margin-bottom: 20%;
    margin-top: -20%;
  }
  .blivv:hover {
    background-color: #094423;
  }
  .blivvv:hover {
    background-color: #094423;
  }
  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    height: auto;
    position: relative;

    margin-top: -15%;
    margin-left: 195%;
    margin-bottom: 5%;
  }

  .si {
    padding: 10%;
  }
}
