@font-face {
  font-family: "MieSpecial-Regular";
  src: url(/fonte/wetransfer_mie-regular-ttf_2023-05-12_1245/MieSpecial-Regular.ttf);
}

@font-face {
  font-family: "GT-Haptik";
  src: url(/fonte/font-GT_Haptik/GT-Haptik-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/img/baggrund.png);
  background-color: #489f21;
  background-blend-mode: screen;
}

img {
  width: 100%;
  height: auto;
  margin-top: 5%;
}

.logo {
  width: 12%;
  height: auto;
  position: relative;
  top: 3%;
  left: 2%;
}

.billetbillede {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background-image: linear-gradient(#00000080, #00000080), url(/img/billet0.svg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.billettekst {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f8f2b1;
  font-family: MieSpecial-Regular, sans-serif;
}

.billettekst h1 {
  font-size: 250%;
  margin: 0 112;
  padding: 0;
}

.billetbillede_tekst {
  width: 100%;
  height: auto;
  aspect-ratio: 1043.59/345.82;
  position: relative;
  top: 10px;
}

.kobbillet2 {
  width: 100%;
  height: 50vh;
  background-image: url("/img/kobbillet2.JPG");
  background-size: cover;
  background-position: center;
  margin-top: 10%;
  background-attachment: fixed;
}

.kobbillet3 {
  width: 100%;
  height: 50vh;
  background-image: url("/img/kobbillet3.JPG");
  background-size: cover;
  background-position: center;
  margin-top: 10%;
  background-attachment: fixed;
}

.kobbillet4 {
  width: 100%;
  height: 50vh;
  background-image: url("/img/kobbillet4.JPG");
  background-size: cover;
  background-position: center;
  margin-top: 10%;
  background-attachment: fixed;
}

/******************************************* billetter *****************************************/
h3 {
  font-family: GT-Haptik, sans-serif;
  color: #1c1f40;
  margin-left: 5%;
}

.partout {
  width: 50%;
  height: auto;
  margin-top: 50%;
  margin-left: 21.5%;
  margin-right: auto;
  display: block;
}

.torsdag {
  width: 60%;
  height: auto;
  margin-top: 10%;
  margin-left: 21.5%;
  margin-right: auto;
  display: block;
}

.fredag {
  width: 60%;
  height: auto;
  margin-top: 10%;
  margin-left: 21.5%;
  margin-right: auto;
  display: block;
}

.lordag {
  width: 60%;
  height: auto;
  margin-top: 10%;
  margin-left: 21.5%;
  margin-right: auto;
  display: block;
}

.sanketur {
  width: 60%;
  height: auto;
  margin-top: 5%;
  margin-left: 21.5%;
  margin-right: auto;
  display: block;
}

.kbh-thy {
  width: 60%;
  height: auto;
  margin-top: 5%;
  margin-left: 21.5%;
  margin-right: auto;
  display: block;
}

.aarhus-thy {
  width: 60%;
  height: auto;
  margin-top: 10%;
  margin-left: 21.5%;
  margin-right: auto;
  display: block;
}

/********************* knap *********************************************/
.knap_partout {
  display: inline-block;
  font-family: GT-Haptik, sans-serif;
  padding: 10px 20px;
  background-color: #107a3e;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 34%;
  margin-top: 5%;
}

.knap_partout:hover {
  background-color: #094423;
}

.knap_torsdag {
  display: inline-block;
  font-family: GT-Haptik, sans-serif;
  padding: 10px 20px;
  background-color: #b5cfe3;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 34%;
  margin-top: 5%;
}

.knap_torsdag:hover {
  background-color: #466d9f;
}

.knap_fredag {
  display: inline-block;
  font-family: GT-Haptik, sans-serif;
  padding: 10px 20px;
  background-color: #fff39d;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 34%;
  margin-top: 5%;
}

.knap_fredag:hover {
  background-color: #ffea4b;
}

.knap_lordag {
  display: inline-block;
  font-family: GT-Haptik, sans-serif;
  padding: 10px 20px;
  background-color: #247659;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 34%;
  margin-top: 5%;
}

.knap_lordag:hover {
  background-color: #154836;
}

.knap_sanketur {
  display: inline-block;
  font-family: GT-Haptik, sans-serif;
  padding: 10px 20px;
  background-color: #a9c2d4;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 34%;
  margin-top: 5%;
}

.knap_sanketur:hover {
  background-color: #a9c2d4;
}

.knap_kbh-thy {
  display: inline-block;
  font-family: GT-Haptik, sans-serif;
  padding: 10px 20px;
  background-color: #ffe864;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 34%;
  margin-top: 5%;
}

.knap_kbh-thy:hover {
  background-color: #ffe864;
}

.knap_aarhus-thy {
  display: inline-block;
  font-family: GT-Haptik, sans-serif;
  padding: 10px 20px;
  background-color: #ffe864;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 34%;
  margin-top: 5%;
}

.knap_aarhus-thy:hover {
  background-color: #ffe864;
}
.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 64%;
  height: auto;
  position: relative;
  margin-top: 11%;
  margin-left: 18%;
}

.si {
  padding: 10%;
  width: 70%;
}
/*********************************************** website ********************/

@media only screen and (min-width: 800px) {
  .logo {
    width: 25%;
    height: auto;
    position: relative;
    left: 37%;
    top: 10px;
  }

  .billetbillede {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(#00000080, #00000080), url("/img/kobbillet1.jpg");
    background-size: cover;
    background-position: center;
  }

  .billettekst {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #f8f2b1;
    font-family: MieSpecial-Regular, sans-serif;
  }

  .billettekst h1 {
    font-size: 140px;
    margin: 0 7px;
    padding: 0;
    text-align: start;
    position: relative;
    left: 10%;
  }

  .billetbillede_tekst {
    width: 57%;
    height: auto;
    aspect-ratio: 1272/521;
    position: relative;
    top: -1px;
    left: 10%;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .kob {
    position: relative;
    font-family: GT-Haptik, sans-serif;
    font-size: 3rem;
    margin-top: 35%;
    text-align: center;
    color: #1d1f3c;
  }

  .partouut {
    content: url(/billetter/partout-horizontal.png);
    margin-top: 5%;
    margin-left: 20%;
    position: relative;
    width: 60%;
    height: auto;
  }

  .knap_partout {
    position: relative;
    width: 10%;
    height: 15%;
    text-align: center;
    margin-left: 45%;
    margin-top: 2%;
  }

  .torsdag {
    position: relative;
    width: 50%;
    height: auto;
    margin-top: 20%;
    margin-left: 35%;
  }

  .knap_torsdag {
    position: relative;
    width: 26%;
    height: 6%;
    text-align: center;
    margin-left: 46%;
    margin-top: 5%;
  }

  .fredag {
    position: relative;
    width: 50%;
    height: auto;
    margin-top: 20%;
    margin-left: 25%;
  }

  .knap_fredag {
    position: relative;
    width: 26%;
    height: 6%;
    text-align: center;
    margin-left: 36%;
    margin-top: 5%;
  }

  .lordag {
    position: relative;
    width: 50%;
    height: auto;
    margin-top: 20%;
    margin-left: 10%;
  }

  .knap_lordag {
    position: relative;
    width: 26%;
    height: 6%;
    text-align: center;
    margin-left: 22%;
    margin-top: 5%;
  }

  .udflugt {
    position: relative;
    margin-top: 2%;
    margin-left: 5%;
    font-family: GT-Haptik, sans-serif;
    font-size: 2rem;
  }

  .sanketur {
    content: url(/billetter/sanketur.png);
    position: relative;
    width: 50%;
    height: auto;
    margin-top: 2%;
    margin-left: 5%;
  }

  .knap_sanketur {
    position: relative;
    width: 10%;
    height: 5%;
    text-align: center;
    margin-left: 25%;
    margin-top: 2%;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .transport {
    position: relative;
    margin-top: 2%;
    margin-left: 5%;
    font-family: GT-Haptik, sans-serif;
    font-size: 2rem;
  }

  .kbh-thy {
    position: relative;
    width: 50%;
    height: auto;
    margin-left: 30%;
    margin-top: 10%;
  }

  .knap_kbh-thy {
    position: relative;
    width: 17%;
    height: 4%;
    text-align: center;
    margin-left: 45.5%;
    margin-top: 5%;
  }

  .aarhus-thy {
    position: relative;
    width: 50%;
    height: auto;
    margin-top: 10%;
    margin-left: 17%;
  }

  .knap_aarhus-thy {
    position: relative;
    width: 17%;
    height: 4%;
    text-align: center;
    margin-left: 33%;
    margin-top: 5%;
  }
  /***************footer****************/
  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    height: auto;
    position: relative;

    margin-top: -15%;
    margin-left: 195%;
    margin-bottom: 5%;
  }

  .si {
    padding: 10%;
  }
}
