@font-face {
  font-family: "MieSpecial-Regular";
  src: url(/fonte/wetransfer_mie-regular-ttf_2023-05-12_1245/MieSpecial-Regular.ttf);
}

@font-face {
  font-family: "GT-Haptik";
  src: url(/fonte/font-GT_Haptik/GT-Haptik-Regular.otf);
}

img {
  width: 100%;
  height: auto;
}

.logo {
  width: 12%;
  height: auto;
  position: relative;
  top: 3%;
  left: 2%;
}

.billetbillede {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background-image: linear-gradient(#00000080, #00000080), url(/img/kobbillet1.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.billettekst {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f8f2b1;
  font-family: MieSpecial-Regular, sans-serif;
}

.billettekst h1 {
  font-size: 250%;
  margin: 0 112;
  padding: 0;
}

.billetbillede_tekst {
  width: 100%;
  height: auto;
  aspect-ratio: 1043.59/345.82;
  position: relative;
  top: 10px;
}

/******************************************* billetter *****************************************/
.partout {
  width: 60%;
  height: auto;
  margin-top: 20%;
  margin-inline: auto;
}

.torsdag {
  width: 60%;
  height: auto;
  margin-top: 10%;
  margin-inline: auto;
}

.fredag {
  width: 60%;
  height: auto;
  margin-top: 10%;
  margin-inline: auto;
}

.lordag {
  width: 60%;
  height: auto;
  margin-top: 10%;
  margin-inline: auto;
}
