/*************************************************************************************************************/
/**Fonte**/
@font-face {
  font-family: "MieSpecial-Regular";
  src: url(/fonte/wetransfer_mie-regular-ttf_2023-05-12_1245/MieSpecial-Regular.ttf);
}

@font-face {
  font-family: "GT-Haptik-Regular";
  src: url(/fonte/font-GT_Haptik/GT-Haptik-Regular.otf);
}

@font-face {
  font-family: "GT-Haptik-Bold-Oblique";
  src: url(/fonte/font-GT_Haptik/GT-Haptik-Bold-Oblique.otf);
}

@font-face {
  font-family: "GT-Haptik-Bold";
  src: url(/fonte/font-GT_Haptik/GT-Haptik-Bold.otf);
}

/*************************************************************************************************************/
/**Hero img**/
.programbillede {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background-image: linear-gradient(#00000080, #00000080), url(/img/program1.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-attachment: fixed;
}

.logo {
  width: 12%;
  height: auto;
  position: relative;
  top: 4%;
  left: 4%;
}

.programtekst {
  color: #f8f2b1;
  font-size: 40px;
  top: 10%;
  text-align: center;
  font-family: MieSpecial-Regular, sans-serif;
}

/*************************************************************************************************************/
.del_1 {
  margin-top: 150px;
  margin-bottom: 90px;
}

/*************************************************************************************************************/
/**Oversigt over dagene**/
.dage_overskrift {
  font-size: 18px;
  color: #f8f2b1;
  text-align: center;
  font-family: GT-Haptik-Bold, sans-serif;
}

.dag_1 {
  text-align: center;
}

.dag_2 {
  text-align: center;
}

.dag_3 {
  text-align: center;
  margin-bottom: 70px;
}

.linje1 {
  font-size: 20px;
  margin: 5px;
  font-family: GT-Haptik-Bold-Oblique, sans-serif;
}

.linje2 {
  font-size: 15px;
  margin: 5px;
  font-family: GT-Haptik-Bold-Oblique, sans-serif;
}

.linje3 {
  font-size: 12px;
  margin: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: GT-Haptik-Bold-Oblique, sans-serif;
}

/**Top 3 billeder**/
.top1 {
  width: 200px;
  margin-bottom: 20px;
  margin-left: 80px;
}

.top2 {
  width: 200px;
  margin-bottom: 20px;
  margin-left: 80px;
}

.top3 {
  width: 200px;
  margin-bottom: 40px;
  margin-left: 80px;
}

/**Knap**/

.knap1 {
  display: block;
  bottom: 10px;
  padding: 15px;
  background-color: #f8f2b1;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 620px;
  margin-right: 620px;
  text-align: center;
  text-decoration: none;
}

/*************************************************************************************************************/
.img_opdeler {
  width: 100%;
  margin-bottom: 20px;
  width: 100%;
  height: 80vh;
  background-image: url("/img/program2.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 10%;
  background-attachment: fixed;
}

/*************************************************************************************************************/
/**Dette års kunstnere**/
.overskrift2 {
  margin-left: 15px;
  font-size: 1.5rem;
  font-family: GT-Haptik-Regular, sans-serif;
  color: #1d1f3c;
}

.my-image {
  width: 200px;
  margin-left: 40px;
  margin-top: 20px;
}

.my-image:hover {
  filter: brightness(0.5);
}

.kunstner_tekst {
  margin-left: 40px;
  font-family: GT-Haptik-Bold-Oblique, sans-serif;
}

/**Figurer**/
.figur1 {
  width: 30%;
  z-index: -3;
  margin-top: 30%;
  margin-left: 55%;
  position: absolute;
}

.figur2 {
  width: 40%;
  z-index: -1;
  margin-top: -2%;
  margin-left: -5%;
  position: absolute;
}

.figur3 {
  width: 40%;
  z-index: -1;
  margin-top: 30%;
  margin-left: -10%;
  position: absolute;
}

.figur4 {
  width: 40%;
  z-index: -1;
  margin-top: 40%;
  margin-left: 30%;
  position: absolute;
}

.figur5 {
  width: 40%;
  z-index: -1;
  margin-top: 60%;
  margin-left: 45%;
  position: absolute;
}

/**Pop up**/
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #ffd689;
  margin: 100px 10px;
  padding: 20px;
  max-width: 600px;
}

.content-wrapper {
  display: flex;
}

.image-container {
  margin-right: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  width: 200px;
}

.text-container {
  flex-grow: 1;
}

h2 {
  font-size: 24px;
  font-family: GT-Haptik-Bold-Oblique, sans-serif;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-family: GT-Haptik-Regular, sans-serif;
}

.close-btn {
  color: black;
  margin-top: 100px;
  margin-right: 30px;
  float: inline-end;
  font-size: 50px;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #c7cd4b;
  text-decoration: none;
  cursor: pointer;
}

/**************icon************/
.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 64%;
  height: auto;
  position: relative;
  margin-top: 11%;
  margin-left: 18%;
}

.si {
  padding: 10%;
  width: 50%;
}

/*************************************************************************************************************/
@media only screen and (min-width: 800px) {
  .logo {
    width: 7%;
    height: auto;
    position: relative;
    left: 45%;
    top: 10px;
  }

  /**her laves der grid til website**/

  .programbillede {
    position: absolute;
    width: 100%;
    height: auto;
    background-image: linear-gradient(#00000080, #00000080), url("/img/program1.jpg");
    background-size: cover;
    background-position: center;
  }

  .programtekst {
    display: flex;
    position: absolute;
    text-align: center;
    left: 30%;
    top: 25%;
    color: #f8f2b1;
    font-family: MieSpecial-Regular, sans-serif;
    font-size: 150px;
  }

  /*************************************************************************************************************/
  .del_1 {
    margin-top: 900px;
    margin-bottom: 90px;
  }

  /*************************************************************************************************************/
  /**Oversigt over dagene**/
  .dage_overskrift {
    font-size: 25px;
    color: #f8f2b1;
    text-align: center;
    font-family: GT-Haptik-Bold, sans-serif;
    margin-bottom: 2px;
    margin-top: 50px;
  }

  .linje1 {
    font-size: 30px;
    margin: 5px;
    text-align: center;
    font-family: GT-Haptik-Bold-Oblique, sans-serif;
  }

  .linje2 {
    font-size: 23px;
    margin: 5px;
    font-family: GT-Haptik-Bold-Oblique, sans-serif;
    text-align: center;
  }

  .linje3 {
    font-size: 18px;
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: GT-Haptik-Bold-Oblique, sans-serif;
    text-align: center;
  }

  /**Top 3 billeder**/
  .top_kunstnere {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .top1 {
    width: 200px;
    margin: 30px;
  }

  .top2 {
    width: 200px;
    margin: 30px;
  }

  .top3 {
    width: 200px;
    margin: 30px;
  }

  /**Knap**/
  .knap1 {
    display: block;
    bottom: 10px;
    padding: 15px;
    background-color: #f8f2b1;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 620px;
    margin-right: 620px;
    text-align: center;
  }

  /**Dette års kunstnere**/

  /*************************************************************************************************************/
  /**Dette års kunstnere**/
  .overskrift2 {
    margin-left: 80px;
    font-size: 40px;
    font-family: GT-Haptik-Regular, sans-serif;
  }

  .kunstnere {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /**Figurer**/
  .figur1 {
    width: 15%;
    z-index: -3;
    margin-top: 10%;
    margin-left: 7%;
    position: absolute;
  }

  .figur2 {
    width: 15%;
    z-index: -1;
    margin-top: -1%;
    margin-left: -2%;
    position: absolute;
  }

  .figur3 {
    width: 15%;
    z-index: -1;
    margin-top: 3%;
    margin-left: -2%;
    position: absolute;
  }

  .figur4 {
    width: 15%;
    z-index: -1;
    margin-top: 12%;
    margin-left: 5%;
    position: absolute;
  }

  .figur5 {
    width: 15%;
    z-index: -1;
    margin-top: 15%;
    margin-left: 3%;
    position: absolute;
  }

  .del_2 {
    margin-bottom: 150px;
  }

  /**Pop up**/
  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup-content {
    background-color: #f8f2b1;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 1000px;
  }

  .content-wrapper {
    display: flex;
  }

  .image-container {
    margin-right: 50px;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
    width: 2000px;
    padding: 20px;
    margin-top: 19px;
  }

  .text-container {
    flex-grow: 1;
  }

  h2 {
    font-size: 30px;
    font-family: GT-Haptik-Bold-Oblique, sans-serif;
    margin-bottom: 5px;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    font-family: GT-Haptik-Regular, sans-serif;
  }

  .close-btn {
    color: black;
    margin-top: 100px;
    margin-right: 210px;
    float: inline-end;
    font-size: 50px;
    cursor: pointer;
  }

  .close-btn:hover,
  .close-btn:focus {
    color: #c7cd4b;
    text-decoration: none;
    cursor: pointer;
  }

  /*************************************************************************************************************/
  /**Footer**/
  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    height: auto;
    position: relative;

    margin-top: -15%;
    margin-left: 195%;
    margin-bottom: 5%;
  }

  .si {
    padding: 10%;
  }
}
